<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h2>투표현황</h2>
<button th:onclick="'location.href=\''+ @{/admin/election/insert} + '\''">투표 개설하기</button>
<table>
  <th>번호</th>
  <th>선거명</th>
  <th>이용기관</th>
  <th>선거기간</th>
  </tr>
  <tr th:each="addElection : ${electionList}">
    <td th:text="${addElection.electionId}">
    <td>
      <a th:href="@{/admin/election/detail(electionId=${addElection.electionId})}"
         th:text="${addElection.electionTitle}"></a></td>
    <!--    <a th:href="@{/board/read(boardNo=${board.boardNo})}"</a>-->

    <td th:text="${addElection.groupName}">
    <td th:text="${addElection.electionStartDt}"><td th:text="${addElection.electionEndDt}"></td>
    <td th:hidden="${addElection.votes}"></td>
  </tr>

</table>


<span class="page-item">
    <a class="page-link" th:href="@{/admin/election/electionList(page=0)}">
      <span>&laquo;</span>
    </a>
  </span>

<span class="page-item"
      th:each="page : ${#numbers.sequence(startPage, endPage)}">
    <a th:if="${page != nowPage}"
       th:href="@{/admin/election/electionList(page = ${page - 1})}"
       th:text="${page}"></a>
    <strong th:if="${page == nowPage}" th:text="${page}"
            style="color: rebeccapurple"></strong>
  </span>
<span class="page-item">
    <a class="page-link"
       th:href="@{/admin/election/electionList(page = ${endPage - 1})}">


      <span>&raquo;</span>
    </a>
  </span>

</body>
</html>