<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head.html :: head(title)">
    <title th:text="${title}">투표 및 개표 결과 확인</title>
</head>
<body th:align="center">
<nav th:replace="common/nav.html :: nav">
</nav>
<div class="p-3 mb-2 bg-light rounded-1">
    <div class="d-flex justify-content-center">
        <h3 class="fw-bold">투표 및 개표 결과 확인</h3>
    </div>
</div>
<div class="container">
    <table class="table">
        <tr>
        <tr>
            <td th:text="선거명"></td>
            <td th:text="${detail.electionTitle}"></td>
        </tr>
        <tr>
            <td th:text="이용기관"></td>
            <td th:text="${detail.groupName}"></td>
        </tr>
        <tr>
            <td th:text="선거시작"></td>
            <td th:text="${detail.electionStartDt}"></td>
        </tr>
        <tr>
            <td th:text="선거종료"></td>
            <td th:text="${detail.electionEndDt}"></td>
        </tr>
        <tr th:each="vote : ${detail.votes}">
            <td th:text="투표명"></td>
            <td>
                <span th:text="${vote.voteTitle}"></span>
                <button class="btn btn-secondary" type="button"
                        th:if="${isBefore}" th:onclick="'location.href=\''+ @{/users/count/voteCount/{voteId}(voteId=${vote.voteId})} + '\''">
                    투표하기
                </button>
                <button class="btn btn-secondary" type="button"
                        th:unless="${isBefore}" th:onclick="'location.href=\''+ @{/users/count/voteResult/{voteId}(voteId=${vote.voteId})} + '\''">
                    개표 확인
                </button>
            </td>
        </tr>
    </table>
</div>
</body>
</html>