<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{common/layout.html}">
<head>
  <title>투표 및 개표 결과 확인</title>
</head>

<section layout:fragment="content">
  <div class="container p-3 mb-2 rounded-1">
    <h3 class="text-center fw-bold">투표 및 개표 결과 확인</h3>
    <div class="d-flex justify-content-center">

      <form th:action="@{/users/logout}" method="post">

        <table class="table">
          <tr>
          <tr>
            <td th:text="선거명"></td>
            <td th:text="${detail.electionTitle}"></td>
          </tr>
          <tr>
            <td th:text="이용기관"></td>
            <td th:text="${detail.groupName}"></td>
          </tr>
          <tr>
            <td th:text="선거시작"></td>
            <td th:text="${detail.electionStartDt}"></td>
          </tr>
          <tr>
            <td th:text="선거종료"></td>
            <td th:text="${detail.electionEndDt}"></td>
          </tr>
          <tr th:each="vote : ${detail.votes}">

            <input type="hidden" th:value="${vote.voteId}" name="voteId">
            <input type="hidden" th:value="${usersPhone}" name="usersPhone">

            <td>투표명</td>
            <td>
              <span th:text="${vote.voteTitle}"></span>
            </td>
            <td>
              <span th:text="${vote.voteType}"></span>
            </td>
            <td>
              <button class="btn btn-secondary" type="button"
                      th:if="${isBefore}"
                      th:onclick="'location.href=\''+ @{/users/count/voteCount/{voteId}(voteId=${vote.voteId})} + '\''">
                투표하기
              </button>
              <button class="btn btn-secondary" type="button"
                      th:unless="${isBefore}"
                      th:onclick="'location.href=\''+ @{/users/count/voteResult/{voteId}(voteId=${vote.voteId})} + '\''">
                개표 확인
              </button>
            </td>


          </tr>
          </tr>
        </table>
        <div class="d-flex justify-content-center" th:if="${isBefore}">
          <button class="btn btn-dark" type="submit">선거 참여 완료</button>
        </div>
      </form>
    </div>
  </div>
  </div>
</section>
</html>
