<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{common/layout.html}">
<head>
  <title>투표 하기</title>
</head>

<section layout:fragment="content">
  <div class="container p-3">
    <div class="card">
      <div class="card-header">
        <h3 class="fw-bold text-center">투표 하기</h3>
      </div>
      <div class="card-body">
        <form th:object="${voteBoxDto}" th:action="@{/users/save}" method="post"
              class="text-center">
          <input type="hidden" name="usersPhone" th:value="${usersPhone}">
          <input type="hidden" th:value="${detailVote.electionId}" name="electionId">
          <input type="hidden" th:value="${detailVote.voteId}" name="voteId">
          <input type="hidden" th:value="${detailVote.voteType}" name="voteType">
          <input type="hidden" id="hadVoted" name="hadVoted" value="true">

          <p class="card-text" th:text="'투표명: ' + ${detailVote.voteTitle}"></p>

          <div th:each="candidate : ${detailCand}">
            <input type="hidden" th:value="${candidate.candidateId}" name="candidateIds"/>
            <p class="card-text" th:text="'후보자명: ' + ${candidate.candidateName}"></p>
            <p class="card-text" th:text="'후보자정보: ' + ${candidate.candidateInfo}"></p>
          </div>
          <hr>
          <p class="card-text" th:text="'투표 종류: ' + ${detailVote.voteType}"></p>

          <div th:if="${detailVote.voteType == T(com.project.voting.domain.vote.VoteType).PROS_CONS}">
            <label for="hadChosen">찬성</label>
            <input type="radio" id="hadChosen" name="hadChosen" value="true" checked>
            <label for="unChosen">반대</label>
            <input type="radio" id="unChosen" name="hadChosen" value="false">
            <hr>
            <li>투표 방법 : 후보자에 대한 찬성 또는 반대를 선택해주세요.</li>
            <br>
            <ul>PROS_CONS : 찬반 투표</ul>
            <ul>CHOICE : 선택 투표</ul>
            <ul>SCORE : 점수 투표</ul>
            <ul>PREFERENCE : 선호도 투표</ul>
          </div>

          <div th:if="${detailVote.voteType == T(com.project.voting.domain.vote.VoteType).CHOICE}">
            <div th:each="candidate : ${detailCand}" class="form-check form-check-inline">
              <div>
                <input class="form-check-input" type="radio" th:name="chosenCandidateId"
                       th:id="${candidate.candidateId}" th:value="${candidate.candidateId}">
                <label class="form-check-label" th:for="${candidate.candidateId}"
                       th:text="${candidate.candidateName}"></label>
              </div>
            </div>
            <hr>
            <li>투표 방법 : 각 후보자 중 한 명을 선택해주세요.</li>
            <br>
            <ul>PROS_CONS : 찬반 투표</ul>
            <ul>CHOICE : 선택 투표</ul>
            <ul>SCORE : 점수 투표</ul>
            <ul>PREFERENCE : 선호도 투표</ul>
          </div>

          <div th:if="${detailVote.voteType == T(com.project.voting.domain.vote.VoteType).SCORE}">
            <div th:each="candidate : ${detailCand}">
              <label th:for="scores" th:text="${candidate.candidateName}"></label>
              <input type="number" min="0" max="100" th:id="'candidate-' + ${candidate.candidateId}"
                     th:field="*{scores}"/>
            </div>
            <li>투표 방법 : 각 후보자에게 0~100의 점수를 기입해주세요.</li>
            <br>
            <ul>PROS_CONS : 찬반 투표</ul>
            <ul>CHOICE : 선택 투표</ul>
            <ul>SCORE : 점수 투표</ul>
            <ul>PREFERENCE : 선호도 투표</ul>
          </div>

          <div th:if="${detailVote.voteType == T(com.project.voting.domain.vote.VoteType).PREFERENCE}">
            <div th:each="candidate : ${detailCand}">
              <label th:for="ranks" th:text="${candidate.candidateName}"></label>
              <input type="number" min="1" th:id="'candidate-' + ${candidate.candidateId}"
                     th:field="*{ranks}"/>
            </div>
            <li>투표 방법 : 가장 선호하는 후보자부터 차례대로 큰 수를 입력하세요 .</li>
            <br>
            <ul>PROS_CONS : 찬반 투표</ul>
            <ul>CHOICE : 선택 투표</ul>
            <ul>SCORE : 점수 투표</ul>
            <ul>PREFERENCE : 선호도 투표</ul>
          </div>
          <button class="btn btn-secondary" type="submit">투표 하기</button>
        </form>
      </div>
    </div>
  </div>
</section>
</html>