<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/users/save}" method="post">

    <table class="table">
        <tr>
            <td><input type="hidden" th:value="${detailVote.voteId}"
                       name="voteId"></td>
        </tr>
        <tr>
            <td th:text="투표명"></td>
            <td th:text="${detailVote.voteTitle}"></td>
        </tr>
        <tr>
            <td th:text="후보자명"></td>
            <td th:text="${detailVote.candidateName}"></td>
        </tr>
        <tr>
            <td th:text="후보자정보"></td>
    </table>
    <input type="hidden" id="hadVoted" name="hadVoted" value="true">
    <input type="radio" id="isAgreed" name="isAgreed" value="true" checked>
    <label for="isAgreed">찬성</label>
    <input type="radio" id="isDisagreed" name="isAgreed" value="false">
    <label for="isDisagreed">반대</label>
</form>
</body>
</html>