<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<table class="table">
  <tr>
    <td th:text="선거명"></td>
    <td th:text="${detail.voteTitle}"></td>
  </tr>
  <tr>
    <td th:text="이용기관"></td>
    <td th:text="${detail.groupName}"></td>
  </tr>
  <tr>
    <td th:text="후보자명"></td>
    <td th:text="${detail.candidateName}"></td>
  </tr>
  <tr>
    <td th:text="후보자정보"></td>
    <td th:text="${detail.candidateInfo}"></td>
  </tr>
</table>
</body>
</html>