<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h2>투표현황</h2>
<!--<form action="/admin/election/insert" method="get">-->
<!--  <button type="submit">투표 만들기</button>-->
<!--</form>-->
<button th:onclick="'location.href=\''+ @{/admin/insert} + '\''">투표 개설하기</button>
<table>
  <th>번호</th>
  <th>선거명</th>
  <th>이용기관</th>
  <th>선거기간</th>
  </tr>
  <tr th:each="electionList : ${electionList}">
    <td th:text="${electionList.electionId}">
    <td th:text="${electionList.electionTitle}"></td>
<!--    <a th:href="@{/board/read(boardNo=${board.boardNo})}"</a>-->

    <td th:text="${electionList.groupName}">
    <td th:text="${electionList.electionStartDt}"><td th:text="${electionList.electionEndDt}"></td>
  </tr>

  </table>
</table>

</body>
</html>