<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>
    #myVote {
      display: none;
    }
  </style>
</head>
<body>
<form id="electionForm" action="/admin/insert" method="post" enctype="multipart/form-data">
  <table>
    <tr>
      <td><input type="hidden" name="electionId"></td>
    </tr>
    <tr>
      <td>대표선거명</td>
      <td><input type="text" name="electionTitle"></td>
    </tr>
    <tr>
      <td>이용기관명</td>
      <td><input type="text" name="groupName"></td>
    </tr>
    <tr>
      <td>투표기간</td>
      <td><input type="datetime-local" name="electionStartDt"><input
          type="datetime-local"
          name="electionEndDt"></td>
    </tr>
  </table>

  <button type="button" onclick="insertVote()">투표추가</button>
  <div id="myVote">
    <input type="hidden" id="electionId" name="electionId">
    <input type="hidden" id="voteId" name="voteId">
    <input type="text" id="voteTitle" name="voteTitle" placeholder="투표명">
    <input type="text" id="candidateName" name="candidateName" placeholder="후보자명">
    <input type="text" id="candidateInfo" name="candidateInfo" placeholder="후보자정보">
    <button type="button" onclick="addVoteOption()">투표 옵션 추가</button>
  </div>

  <button type="button" onclick="submitForm()">개설 완료</button>
  <div id="voteOptionsList">
  </div>
</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  var voteOptions = [];

  function insertVote() {
    var x = document.getElementById("myVote");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }

  function addVoteOption() {
    var voteOption = {
      electionId : document.getElementById("electionId").value,
      voteId: document.getElementById("voteId").value,
      voteTitle: document.getElementById("voteTitle").value,
      candidateName: document.getElementById("candidateName").value,
      candidateInfo: document.getElementById("candidateInfo").value
    };
    voteOptions.push(voteOption);
    clearVoteInputs();
    console.log("투표 옵션 추가:", voteOption);

    addVoteOptionToPage(voteOption);
  }

  function clearVoteInputs() {
    document.getElementById("voteId").value = "";
    document.getElementById("voteTitle").value = "";
    document.getElementById("candidateName").value = "";
    document.getElementById("candidateInfo").value = "";
  }

  function addVoteOptionToPage(voteOption) {
    $.ajax({
      url: "/vote/save",
      type: "POST",
      contentType: "application/json",
      data: JSON.stringify(voteOption),
      success: function (response) {
        console.log("투표 옵션 추가 성공:", response);

        var voteOptionsList = $("#voteOptionsList");
        var voteOptionDiv = $("<div>").text("투표명: " + response.voteTitle,
            "후보자명: " + response.candidateName, "후보자정보: " + response.candidateInfo);
        voteOptionsList.append(voteOptionDiv);

        clearVoteInputs();
      },
      error: function (xhr, status, error) {
        console.error("투표 옵션 추가 실패:", error);
      }
    });
  }

  function submitForm() {

    insertVote();

    var form = document.getElementById("electionForm");
    form.submit();
  }

</script>
</body>
</html>
