<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form id="electionForm" th:action="@{/admin/election}" method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <td>대표선거명</td>
            <td><input type="text" name="electionTitle"></td>
        </tr>
        <tr>
            <td>이용기관명</td>
            <td><input type="text" name="groupName"></td>
        </tr>
        <tr>
            <td>투표기간</td>
            <td><input type="datetime-local" name="electionStartDt"><input
                    type="datetime-local"
                    name="electionEndDt"></td>
        </tr>
        <tr>
            <div class="mb-3">
                <td><label for="file" class="form-label">명부등록</label></td>
                <td><input class="form-control" type="file" id="file" name="file"></td>
            </div>
        </tr>
    </table>

    <button type="button" onclick="insertVoteTemplate()">투표추가</button>

    <div id="myVote">
    </div>

    <button type="submit">개설 완료</button>
</form>


<script>
    // var index = 0;

    function insertVoteTemplate() {
        const voteTemplate = document.createElement("div");
        const voteTemplateClassName = "vote-template";
        voteTemplate.classList.add(voteTemplateClassName);

        let index = document.getElementsByClassName(voteTemplateClassName).length;

        voteTemplate.innerHTML = `
            <input type="text" name="votes[${index}].voteTitle" placeholder="투표명">
            <input type="text" name="votes[${index}].candidateName" placeholder="후보자명">
            <input type="text" name="votes[${index}].candidateInfo" placeholder="후보자정보">
        `;

        document.getElementById("myVote").appendChild(voteTemplate);
    }
</script>
</body>
</html>
