<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{common/login.html}">
<head>
  <title>error page</title>
</head>

<section layout:fragment="content">

  <img src="..." class="rounded mx-auto d-block" alt="...">
  <div class="container p-3 mb-2 rounded-1">
    <div class="d-flex justify-content-center">
      <h1 class="fw-bold" th:text="${exception.message}"></h1>
    </div>
    <div class="d-flex justify-content-center">
      <a href="/">홈으로 바로가기</a>
    </div>
  </div>

</section>

</html>